<main class="visualizeFood">
  <div>
    <button class="goBack"  (click)="goBack()">
      <img src="../../../../../assets/seta-direita 1.png" width="30" height="40">
    </button>
  </div>
  <app-cart-item *ngFor="let item of foodList" [item]="item"
  (adicionarProduto)="adicionarProduto($event)" 
  (removerProduto)="removerProduto($event)"></app-cart-item>
</main>
<div class="divisor"></div>
<section class="visualizePrice">
  
  <div class="textPrice">
      <img src="../../../../../assets/escrita.png" width="35" height="35" alt="">
  <h4>Ver meu pedido </h4>
  </div>

  <div class="priceTotal">
    R$ {{ total.toFixed(2) | replaceDecimal }}
  </div>
</section>