@import '../../../../../dist/scss/variables.scss';

.container {
    display: flex;
    justify-content: space-between;
  }
  
  .left-div {
    margin-left: 10px;
    width: 40%;
  }
  
  .place-name{
    display: block;
 
  }

  .location-client{
    display: flex;
  }
  
  .divisor{
    width: 20%;
  }

  .right-div {
    float: right;
    display: flex;
    padding-right: 15px;
     align-items: center;
      
     position: relative;
   
  }

  .Open{
    border-radius: 10px;
    width: 121px;
    height: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    color:$secondary-color;
}


  